{% extends 'base.html'%}

{% block title %}
首页
{% endblock %}
{% block main %}
{% block link %}
    <style>
        .reset-top{
            width: 99%!important;
        }
        .message{
            display: none;
            font-size: .75em;
            color: #979696;
        }
        .card:hover .message{
            display: block;
        }
        .card-text-title{
            font-weight: bold;

        }
        .card-text-prcie{
            font-size: .9em;
            
        }
    </style>
{% endblock %}
<div class="mt-2">

    <form class="mt-2" method="post">
        <!-- <div>
            <input class="form-control me-2" type="search" placeholder="Search" name="name" aria-label="Search"> 
        </div> -->
        <p class="form-check-inline">category</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="type" value="手机">
            <label class="form-check-label">phone</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="type" value="电脑">
            <label class="form-check-label">computer</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="type" value="家电">
            <label class="form-check-label">electric appliance</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="type" value="图书">
            <label class="form-check-label">book</label>
        </div>
        <button class="btn btn-outline-success " type="submit">select</button>
    </form>
    <div>
        {%for i in data %}
        <div class="card " style="width: 18rem;display: inline-block;" >
            <div style="width: 18rem;">
                <img height="220" src="{{i['img']}}" width="99%" class="card-img-top reset-top" alt="...">
            </div>
            <div class="card-body">
                <p class="card-text card-text-title">{{i['product_name']}}</p>
                <p class="card-text card-text-prcie">￥ {{i['price']}}</p>
                <div class="message card-text">{{i['product_describe']}}</div>
            </div>
     
          </div> 
          
          {% endfor %}

          {% if page != 1 %}
          <nav aria-label="Page navigation example">
            <ul class="pagination">

              {%for i in range(page) %}
                <li class="page-item"><a class="page-link" href="?p={{i + 1}}">{{i + 1 }}</a></li>
              {% endfor %}

            </ul>
          </nav>
          {% endif %}
    </div>
</div>
{% endblock %}